:root{
    --main-padding: 0.4rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid darkcyan;
}


.container{
    color: #123451;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-template-areas: 
    "header header header"
    "feature1 feature2 feature3"
    "sign up sign up sign up"
    "content content content"
    ;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
}

#header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    grid-area: header;
    padding: var(--main-padding);
}

#feature1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    grid-area: feature1;
    padding: var(--main-padding);
}

#feature2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    grid-area: feature2;
    padding: var(--main-padding);
}

#feature3{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    grid-area: feature3;
    padding: var(--main-padding);
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    grid-area: content;
    padding: var(--main-padding);
}

#sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    grid-area: sign-up;
    padding: var(--main-padding);
}

@media(min-width: 480px){
    .container{
        gap:0;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas: 
        "header"
        "content"
        "sign-up"
        "feature1"
        "feature2"
        "feature3"
        ;
    }
}

@media(min-width: 768px){
    
    .container{
        gap: 0;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "header header"
        "content content"
        "sign-up feature1"
        "feature2 feature3"
        ;
    }
}

@media(min-width: 1200px){
    .container{
        gap: 0;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: 
        "header header header"
        "feature1 feature2 feature3"
        "sign-up sign-up sign-up"
        "content content content"
        ;
    }
}